<div class="col-cs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="debt in bc.billingCycle.debts">
                <td>
                    <input ng-model="debt.name"  class="form-control" placeholder="Digite o nome" ng-readonly="bc.tabRemove">
                </td>
                <td>
                    <input ng-model="debt.value" ng-change="bc.Calculate()" class="form-control" placeholder="Digite o valor" type="number" ng-readonly="bc.tabRemove">
                </td>
                <td>
                    <input ng-model="debt.status" class="form-control" placeholder="Digite o status" ng-readonly="bc.tabRemove">                    
                </td>
                <td class="table-actions" >
                    <button class="btn btn-success" ng-class="{disable: bc.tabRemove}" ng-disabled="bc.tabRemove" ng-click="bc.addDebt($index)" >
                    <i class="fa fa-plus"></i></button>

                    <button class="btn btn-warning" ng-class="{disable: bc.tabRemove}" ng-disabled="bc.tabRemove" ng-click="bc.cloneDebt($index, debt)" > 
                    <i class="fa fa-clone"></i></button>

                    <button class="btn btn-danger" ng-class="{disable: bc.tabRemove}" ng-disabled="bc.tabRemove" ng-click="bc.removeDebt($index)" >
                    <i class="fa fa-trash-o"></i></button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>